@import url('https://fonts.googleapis.com/css?family=Righteous|Lato&display=swap')

@import "bulma/sass/utilities/_all.sass"

$background-color: rgba(33,33,33,1.0)
$highlight-color: #4a2668

a 
  cursor: pointer

body 
  font-family: 'Lato', sans-serif
  background-color: white
  color: white
  height: 100%
  user-select: none

//login & signup
#lTitle
  margin-top: 70px
  margin-bottom: 40px

.form-container
  max-width: 280px 
  margin: auto
  padding: 20px
  border-radius: 10px
  box-shadow: 0 15px 30px rgba($highlight-color, .0)
  .input
    box-shadow: 0 0 0 
    background: rgba(black, .02)
//

.title
  color: $highlight-color
  font-weight: bold

.navbar
  z-index: 999 !important
  box-shadow: 0 0 6px rgba($highlight-color, .1)

.navbar-brand
  img
    margin: auto
    width: 40px
    height: 40px
    margin-left: 8px

.blank
  margin: 0
  height: 70px
  background-color: white

.navbar-title
  color: $highlight-color
  margin-top: auto
  margin-bottom: auto

  font-family: 'Righteous', display
  font-size: 40px
  margin-left: 12px

.sidebar
  height: 100%
  width : 100%
  padding: 5px
  margin-left: 1px solid rgba(black, .1)

.error-hero
  margin: 10px
  border-radius: 10px

.video
  transition: 300ms ease
  margin: 10px
  background-color: white
  min-width : 280px
  max-width : 280px
  border-radius: 10px
  box-shadow: 0 2px 5px rgba($highlight-color, .2)
  @moedia only screen and (max-width: $tblet)
    margin: auto

.video-container-wrapper
  margin: auto
  

.video-container
  margin: auto
  display: flex
  flex-wrap: wrap

.video:hover
  z-index: 998 !important
  transform: scale(1.02)
  box-shadow: 0 12px 16px rgba($highlight-color, .2)

.footer
  height: 200px
  background-color: white