@import url("https://fonts.googleapis.com/css?family=Righteous|Lato&display=swap");
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  color: white;
  height: 100%;
  user-select: none; }

.title {
  color: #4a2668;
  font-weight: bold; }

.navbar {
  z-index: 999 !important;
  box-shadow: 0 0 6px rgba(74, 38, 104, 0.1); }

.navbar-brand img {
  margin: auto;
  width: 40px;
  height: 40px;
  margin-left: 8px; }

.blank {
  margin: 0;
  height: 70px;
  background-color: white; }

.navbar-title {
  color: #4a2668;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Righteous', display;
  font-size: 40px;
  margin-left: 12px; }

.sidebar {
  height: 100%;
  width: 100%;
  padding: 5px; }

.error-hero {
  margin: 10px;
  border-radius: 10px; }

.video {
  transition: 300ms ease;
  margin: 10px;
  background-color: white;
  min-width: 280px;
  max-width: 280px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(74, 38, 104, 0.2); }

@moedia only screen and (max-width: $tblet) {
  .video {
    margin: auto; } }

.video-container-wrapper {
  margin: auto; }

.video-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap; }

.video:hover {
  z-index: 998 !important;
  transform: scale(1.1);
  box-shadow: 0 18px 20px rgba(74, 38, 104, 0.2); }
