@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");
body {
  background-color: #212121;
  color: white;
  height: 100%; }

.title {
  color: white; }

.blank {
  margin: 0;
  height: 54px;
  background-color: #212121; }

.navbar-title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
  font-family: 'Baloo Bhai', display;
  font-size: 40px; }

.sidebar {
  height: 100%;
  width: 100%;
  padding: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
